*,
*::before, 
*::after {
    box-sizing: border-box;
}

:root {
    --font-primary: 'Rosario', sans-serif;
    --font-secondary: 'Maven Pro', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #264653;
    --clr-accent: #e76f51;   

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}


@media(min-width:800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;  
    }
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--font-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img {
    display: block;
    max-width: 350px;
}

section {
    padding: 5em 2em;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* typography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

ul {
    list-style: none
}

a {
    color: var(--clr-dark);
    text-decoration: none
}

.intro-title strong {
    display: block;
}

.section-title {
    font-weight: var(--fw-reg);
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-light);
    background: var(--clr-accent);
}

/* header and nav bar */
header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.nav-item {
    float: left;
}

.nav-link {
    display: block;
    text-align: center;
    padding: 1em;
}

/* Intro splash page */

.intro {
    position: relative;
}

@media (min-width:600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 300px;
        position: relative;
    }

    .intro-subtitle {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
    }
}

/* Services section */

.services {
    background: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.service-title {
    color: var(--clr-accent);
    position: relative;
}

.service-title::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light)
}

.services-cols {
    padding-bottom: 3em;
}

.service-col {
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 3em;
}

@media (min-width:800px) {
    .services-cols {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service-col {
        padding: 0.5em
    }
}

.abt-me {
    max-width: 1000px;
    margin: 0 auto;
}

@media (min-width:600px) {
    .abt-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .abt-title {
        grid-area: title;
    }

    .abt-subtitle {
        grid-column: 1/-1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 6em);
        z-index: -1;
    }

    .abt-content {
        grid-area: text;
    }

    .abt-img {
        grid-area: img;
        min-width: 300px;
    }
}

.portfolio {
    background: var(--clr-dark);
    color: var(--clr-light);
}

.projects {
    display:grid;
    padding-top: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
}

.project {
    /* padding: 1em; */
    overflow: hidden;
}

.project-img {
    transition: 
        transform 600ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.project-img:hover {
    transform: scale(1.2);
    opacity: .75;
}

.portfolio-title {
    color: var(--clr-accent);
}

footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
}

footer a { 
    color: var(--clr-accent);
    text-decoration: none;
}

.footer-link:hover,
.social-link:hover {
    opacity: .75;
}

.social-list {
    list-style: none;
}